.NoVisLink {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #323232;
    padding: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    border-color: #000000;
    border: 15px;
}

.RoundCorners {
    border-radius: 15px;
}

.BlackButton {
    background-color: black;
    color: lightgray;
}

a {
    color: white;
}

p {
    color: #aaa;
}