.NoVisLink {
    text-decoration: none;
    color: inherit;
}

.RoundCorners {
    border-radius: 15px;
}

.BlackButton {
    background-color: black;
    color: lightgray;
}

body {
    background-color: #323232;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}